
#first-navbar {
	border-bottom: 0.01em solid rgba(0, 128, 0, 0.287);
	font-family: 'Varela Round', sans-serif;
}

.texts {
	color: gray;
}

#sign-up-nav {
	background-color: #FDDBD7;
	border-radius: 5px;
	color: #e73930;
	transform: transition 0.7s ease-out;
}
#sign-up-nav:hover {
	background-color: #e73930;
	color: #FDDBD7;	
}

#logout-button {
	color: rgba(146, 15, 15, 0.671);
}
