body {
	background-color: beige;
	font-family: 'Varela Round', sans-serif;
}

.landing {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.btn {
	background-color: rgb(54, 151, 155);
	color: rgb(245, 240, 240);
}

.left-landing,
.right-landing {
	width: 40%;
}

#auth-buttons {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

#brand-name {
	font-family: 'Playfair Display', serif;
}

#get-started-btn {
	width: 290px;
	max-width: 320px;
	background-color: #fddbd7;
	color: #e73930;
	padding: 15px 25px;
	border: none;
	font-size: 22px;
	cursor: pointer;
	border-radius: 5px;
}

#get-started-btn:hover {
	background-color:#e73930;
	color: #fff2f1;
}

small {
	color: #000000CC;
	font-size: 12px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
	.right-landing {
		display: none;
	}

	.left-landing {
		width: auto;
	}
}

@media screen and (max-width: 600px) {
	.landing {
		flex-direction: column;
		justify-content: space-around;
	}

	.left-landing {
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.right-landing {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

}
