body {
	background-color: beige;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#heading {
	font-family: 'Playfair Display', serif;
}

.set-password-form {
	width: 50%;
}

@media screen and (max-width: 500px) {
	.set-password-form {
		width: 90%;
	}
}
