<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<title>Change Password</title>
</head>
<body>
	
	<% if (messages.notification) { %>
		<script>
			Toastify({
				text: '<%= messages.notification %>',
				backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
				className: "info",
			}).showToast();
		</script>
	<% } %>

	
	<h1>Hi <%= user.name %>, go ahead and change your local password!</h1>
	<br>
	<form name="change-password" method="POST" action="/v1/auth/password/change">
		<table>
			<tr>
			<td>Current password: </td>
			<td><input type="password" name="currentPassword" ></td>
			</tr>
			<tr>
			<td>New password: </td>
			<td><input type="password" name="newPassword" ></td>
			</tr>
			<tr>
			<td>Confirm new password: </td>
			<td><input type="password" name="confirmNewPassword" ></td>
			</tr>
			<tr>
			<td colspan="2"><input type="submit" value="Save" ></td>
			</tr>
		</table>
	</form>  
</body>
</html>
