<h1>Hi <%= user.name %>, go ahead and change your local password!</h1>
<br>
<form name="change-password" method="POST" action="/v1/auth/password/change">
    <table>
		<tr>
		<td>Current password: </td>
		<td><input type="password" name="currentPassword" ></td>
		</tr>
		<tr>
        <td>New password: </td>
        <td><input type="password" name="newPassword" ></td>
        </tr>
        <tr>
        <td>Confirm new password: </td>
        <td><input type="password" name="confirmNewPassword" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
</form>  
