<h2>Please enter the email you are registered with:</h2>
<form name="forgot-password" method="POST" action="/v1/auth/password/forgot">
    <table>
        <tr>
        <td>Email</td>
        <td><input type="email" name="email" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
	</form>  
