<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Flipit</title>
</head>
<body>
	<h1>This is the landing page of Flipit 🙂</h1>
	<p>(This is before login landing page)</p>
	<br>
	
	<a href="/v1/auth/login">Login</a>
</body>
</html>
