<!DOCTYPE html>
<html lang="en">
<head>
	<title>Flipit</title>
	<%- include ('./partials/head.ejs') %> 
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/landing.css">
</head>
<body>

	<header>
		<%- include ('./partials/header.ejs', {user: undefined}) %> 
	</header>

	<main>
		<section class="container-fluid landing mt-5">
			<div class="left-landing">
				<h1 id="brand-name" class="display-1 text-center">Flipit</h1>
				<p id="brand-desc" class="text-center">"The one stop solution for your flipping appetite."</p>
				<div id="auth-buttons">
					<a class="btn btn-info btn-lg mb-3" href="/auth/register">Sign Up</a>
					<a class="btn btn-info btn-lg" href="/auth/login">Sign In</a>
				</div>
			</div>
			<div class="right-landing">
				<img id="brand-logo" src="/images/flipit-logo-latest.svg" width="350" height="350" alt>
			</div>

		</section>

	</main>

	<footer>
		<%- include ('./partials/footer.ejs') %> 
	</footer>

</body>
</html>
