<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign up | Flipit</title>
	<%- include ('./partials/head.ejs') %>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/register.css">
</head>
<body>

	<header>
		<%- include ('./partials/header.ejs', {user: undefined}) %> 
	</header>

	<main>
		<!-- Shows notification -->
		<% if (messages.notification) { %>
			<script>
				Toastify({
					text: '<%= messages.notification %>',
					backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
					className: "info",
				}).showToast();
			</script>
		<% } %>
	
		<section class="container-fluid main-content my-4">

			<div class="card card-outline-secondary">
				<div class="card-header text-center">
					<p class="lead mb-0" id="heading">Sign up for your account</p>
				</div>
				
				<div class="card-body">
					<form autocomplete="off" class="form" role="form" method="POST" action="/auth/register">
						<div class="form-group">
							<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
						</div>
						<div class="form-group">
							<input name="email" class="form-control" id="inputEmail3" placeholder="Enter email" required type="email">
						</div>
						<div class="form-group">
							<input name="password" class="form-control" id="inputPassword3" placeholder="Enter password" required type="password"> 
							<small class="form-text text-muted" id="passwordHelpBlock">Your password must be at least 6 characters long.</small>
						</div>
						<div class="form-group">
							<button class="btn btn-info w-100" type="submit">Sign Up</button>
						</div>
					</form>
					<div class="text-center or">OR</div>

					<div id="social-login my-3 text-center">
						<div class="register-box">
							<a href="/auth/facebook" class="social-button" id="facebook-connect"> <span><img src="https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook.svg?sanitize=true" width="30px" height="30px" alt> Register with Facebook</span></a>
							<a href="/auth/google" class="social-button" id="google-connect"> <span><img src="https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png" width="30px" height="30px" alt> Register with Google</span></a>
						</div>
					</div>

				</div>
			</div>
			<div class="text-center">
				<small>Already have an account? <a href="/auth/login"> <strong>Sign in</strong></a></small>
			</div>
		</section>
	</main>

	<footer>
		<% include ('./partials/footer.ejs') %> 
	</footer>

</body>
</html>
