<head>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<title>Register</title>
</head>
<body>

	<% if (messages.notification) { %>
		<script>
			Toastify({
				text: '<%= messages.notification %>',
				backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
				className: "info",
			}).showToast();
		</script>
	<% } %>	

	<form name="register" method="POST" action="/v1/auth/register">
		<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
		<table>
			<tr>
			<td>Email</td>
			<td><input type="email" name="email" required></td>
			</tr>
			<tr>
			<td>Password</td>
			<td><input type="password" name="password" required></td>
			</tr>
			<tr>
			<td colspan="2"><input type="submit" value="Save" ></td>
			</tr>
		</table>
	</form>  
	

	<a href="/v1/auth/login">Login</a>
	<a href="/v1/auth/google">Sign in with Google</a>

</body>
</html>
