<h1>Reset password:</h1>
<p>This would be the only password you would need to login.</p>
<br>

<form name="change-password" method="POST" action=<%= url %>>
    <table>
		<tr>
		<td>New password: </td>
		<td><input type="password" name="password" ></td>
		</tr>
		<tr>
        <td>Confirm new password: </td>
        <td><input type="password" name="confirmPassword" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
</form>  
