<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<title>Set Password</title>
</head>
<body>
	
	<% if (messages.notification) { %>
		<script>
			Toastify({
				text: '<%= messages.notification %>',
				backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
				className: "info",
			}).showToast();
		</script>
	<% } %>

	<h2>Hi <%= user.name %>, you have not set your local password. Go ahead and set a new password...</h2>
	<br>
	<form name="set-password" method="POST" action="/v1/auth/password/set">
		<input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
		<table>
			<tr>
			<td>Password: </td>
			<td><input type="password" name="password" ></td>
			</tr>
			<tr>
			<td>Confirm Password: </td>
			<td><input type="password" name="confirmPassword" ></td>
			</tr>
			<tr>
			<td colspan="2"><input type="submit" value="Save" ></td>
			</tr>
		</table>
	</form>  
</body>
</html>

