<h2>Hi <%= user.name %>, you have not set your local password. Go ahead and set a new password...</h2>
<br>
<form name="set-password" method="POST" action="/v1/auth/password/set">
    <table>
        <tr>
        <td>Password: </td>
        <td><input type="password" name="password" ></td>
        </tr>
        <tr>
        <td>Confirm Password: </td>
        <td><input type="password" name="confirmPassword" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
</form>  
