<% if (!user) { %>
	<p>Welcome! Please <a href="/v1/auth/login">log in</a>.</p>
<% } else { %>
	<h1>Hello, <%= user.name %>.</h1>
	<p>THIS IS A PROTECTED ROUTE!</p>
	<br>


	<% if (!user.services.google) { %>
		<p>Connect your google account <a href="/v1/auth/connect/google">Connect Google!</a></p>
	<% } else { %>
		<p>Disconnect your google account <a href="/v1/auth/disconnect/google">Disconnect Google!</a></p>
	<% } %>
	
	<% if (!user.services.facebook) { %>
		<p>Connect your facebook account <a href="/v1/auth/connect/facebook">Connect Facebook!</a></p>
	<% } else { %>
		<p>Disconnect your facebook account <a href="/v1/auth/disconnect/facebook">Disconnect Facebook!</a></p>
	<% } %>

	<br>
	<a href="/v1/auth/logout">Logout</a>
	

<% } %>
