<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<title>Status</title>
</head>

<body>
	
<% if (!user) { %>
	<p>Welcome! Please <a href="/v1/auth/login">log in</a>.</p>
<% } else { %>

	<% if (messages.notification) { %>
		<script>
			Toastify({
				text: '<%= messages.notification %>',
				backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
				className: "info",
			}).showToast();
		</script>
	<% } %>
	
	
	<h1>Hello, <%= user.name %>.</h1>
	<p>THIS IS A PROTECTED ROUTE!</p>
	<br>


	<% if (!user.services.google) { %>
		<p>Connect your google account <a href="/v1/auth/connect/google">Connect Google!</a></p>
	<% } else { %>
		<p>Disconnect your google account <a href="/v1/auth/disconnect/google">Disconnect Google!</a></p>
	<% } %>
	
	<% if (!user.services.facebook) { %>
		<p>Connect your facebook account <a href="/v1/auth/connect/facebook">Connect Facebook!</a></p>
	<% } else { %>
		<p>Disconnect your facebook account <a href="/v1/auth/disconnect/facebook">Disconnect Facebook!</a></p>
	<% } %>

	<br>
	<a href="/v1/auth/logout">Logout</a>
	

<% } %>
</body>
</html>


