<!-- MODAL STARTS -->
<div class="modal fade" id="myModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title heading">Password Confirmation</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="confirm-buy-action">
					<input type="hidden" id="confirm-action-csrf" name="_csrf" value="<%= locals.csrfToken %>">
					<div class="form-group">
						<input type="password" class="form-control" id="confirmActionPassword" placeholder="Enter your password">
					</div>
					<button id="sub" type="button" class="btn btn-info btn-sm">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- MODAL ENDS -->
